DB_URL=jdbc:mysql://localhost:3306/ipo_analysis?useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=ipo_user
DB_PASSWORD=change_me
IPO_SEBI_FEED_URL=
IPO_NSE_FEED_URL=
IPO_BSE_FEED_URL=
IPO_DOCUMENT_ALLOWED_HOSTS=sebi.gov.in,www.sebi.gov.in,nseindia.com,www.nseindia.com,bseindia.com,www.bseindia.com
IPO_AI_PROVIDER=disabled
IPO_AI_BASE_URL=https://api.openai.com/v1
IPO_AI_API_KEY=
IPO_AI_MODEL=gpt-5-mini
